[Unit]
Description=The gcenter rpc server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/var/run/goperation/gcenter-rpc.pid
ExecStartPre=/usr/bin/rm -f /var/run/goperation/gcenter-rpc.pid
ExecStart=/usr/sbin/gcenter-rpc --config-dir /etc/goperation/endpoints --state-path /var/run/goperation

[Install]
WantedBy=multi-user.target
