[DEFAULT]


[agent]

#
# From agent
#

# Rpc agent can alloc port from this range (port_ranges value)
#ports_range = <None>

# Rpc agent online report interval time in minute (integer value)
# Minimum value: 1
# Maximum value: 10
#online_report_interval = 5

# Rpc agent online report with system performance (boolean value)
#report_performance = false

# simpleflow storage file dir (string value)
#taskflowcache = $work_path/taskflowcache

# taskflow cache file in ramfs (boolean value)
#ramfscache = false

# taskflow storage connection url, taskflowcache option will be ignore when
# this option set (string value)
#taskflow_connection = <None>

# File Manager working folder (folder path)
#filecache =None
