[DEFAULT]


[gcenter]

#
# From gcenter
#

# Wsgi Server run user (string value)
#wsgi_user = nginx

# Wsgi Server run group (string value)
#wsgi_group = nginx

# The number of worker processes to serve the wsgi application (integer value)
# Minimum value: 1
# Maximum value: 255
#wsgi_process = 1

# The IP address of the network interface for the wsgi application listen on.
# (IP address value)
#bind_ip = 0.0.0.0

# The port number which the wsgi application listens on. (port value)
# Minimum value: 0
# Maximum value: 65535
#bind_port = 7999

# Listen on unix socket file (string value)
#unix_socket_file = <None>

# Name of the paste configuration file that defines the available pipelines.
# (string value)
#paste_config = gcenter-paste.ini

# A python format string that is used as the template to generate log lines.
# The following values can beformatted into it: client_ip, date_time,
# request_line, status_code, body_length, wall_seconds. (string value)
#wsgi_log_format = %(client_ip)s "%(request_line)s" status: %(status_code)s  len: %(body_length)s time: %(wall_seconds).7f

# Sets the value of TCP_KEEPIDLE in seconds for each server socket. Not
# supported on OS X. (integer value)
#tcp_keepidle = 60

# Size of the pool of greenthreads used by wsgi (integer value)
#wsgi_default_pool_size = 100

# Maximum line size of message headers to be accepted. max_header_line may need
# to be increased when using large tokens (typically those generated when
# keystone is configured to use PKI tokens with big service catalogs). (integer
# value)
#max_header_line = 16384

# If False, closes the client socket connection explicitly. (boolean value)
#wsgi_keep_alive = true

# Timeout for client connections' socket operations. If an incoming connection
# is idle for this number of seconds it will be closed. A value of '0' means
# wait forever. (integer value)
#client_socket_timeout = 60

# Private route module string (multi import string)
#routes =

# Public route module string (multi import string)
#publics =

# fernet key dir (string value)
#fernet_key_repository = <None>

# fernet expire max day (integer value)
# Minimum value: 1
# Maximum value: 7
#fernet_expire_days = 1

# Allowed ipaddress without token, 127.0.0.1 and local ip is allowed (list
# value)
#allowed_trusted_ip =

# Allow ipaddress without token in same subnet (boolean value)
#allowed_same_subnet = true

# Allow hostname (list value)
#allowed_hostname = *

# Get clent address from head of X-Real-IP (boolean value)
#x_real_ip = false

# Indicate whether this resource may be shared with the domain received in the
# requests "origin" header. (list value)
#allowed_origin = *

# Indicate that the actual request can include user credentials (boolean value)
#allow_credentials = true

# Indicate which headers are safe to expose to the API. Defaults to HTTP Simple
# Headers. (list value)
#expose_headers = Content-Type,Cache-Control,Content-Language,Expires,Last-Modified,Pragma

# Maximum cache age of CORS preflight requests. (integer value)
#max_age = 3600

# Indicate which methods can be used during the actual request. (list value)
#allow_methods = GET,POST,PUT,DELETE,OPTIONS,UPDATE,HEAD

# Indicate which header field names may be used during the actual request.
# (list value)
#allow_headers = Content-Type,Cache-Control,Content-Language,Expires,Last-Modified,Pragma,Auth-Token,X-Real-IP,gopfernet

# Rpc Server run user (string value)
#rpc_user = root

# Rpc Server run group (string value)
#rpc_group = root

# The number of worker processes to serve the rpc process (integer value)
# Minimum value: 1
# Maximum value: 255
#rpc_process = 1

# Rpc agent status expire time (integer value)
# Minimum value: 2
# Maximum value: 20
#expire_time = 10

# Rpc server executer class list (list value)
#executers = http

# Rpc server conditions class list (list value)
#conditions = agents,entitys
