[composite:gcenter]
use = egg:Paste#urlmap
/v1.0: privates
/n1.0: publics

[filter:authtoken]
paste.filter_factory = goperation.manager.filters.filter:AuthFilter.factory

[filter:cors]
paste.filter_factory = goperation.manager.filters.filter:CorsFilter.factory

[app:private]
paste.app_factory = goperation.api.route:private_factory

[app:public]
paste.app_factory = goperation.api.route:public_factory

[pipeline:privates]
pipeline = cors authtoken private

[pipeline:publics]
pipeline = cors public

